.container{
    width: 100%;
    background-image: url(../../assets/main-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    min-height: 100vh;
    display: flex;

    justify-content: center;
    align-items: flex-start;
}
.wrap{
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 1rem; */
    padding-top: 8rem;
    padding-bottom: 8%;
    padding-left: 6%;
    padding-right: 6%;
}
.div1{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.div1>:nth-child(1){
    color: rgba(255, 255, 255, 0.30);
text-align: center;
font-family: K2D;
font-size: 14px;
font-style: normal;
font-weight: 275;
line-height: normal;
letter-spacing: 1.4px;
text-transform: uppercase;
}
.div1>:nth-child(2){
    color: #FFF;
text-align: center;
font-family: IBM Plex Mono;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 9.18px;
text-transform: uppercase;
}

.countdowntimer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
   
  }
  
  .timerbox {
    text-align: center;
    margin: 0 10px;
  }
  
  .timer {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }
  
  .timerlabel {
    font-size: 1rem;
    color: #666;
  }
  
  .timerbox{
    display: flex;
    flex-direction: column;
    width: 6rem;
  }
  .timer{
    color: #B7BCD7;
font-family: K2D;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
  }
  .timerlabel{
    color: #9CA1B8;
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    text-transform: uppercase;
  }
  .dotspan{
    font-size: 44px;
    color: #efebeb;
    margin-bottom: 1rem;
    border-radius: 50%;
  }
  .btohomebtn{
    display: inline-flex;
padding: 10px 24px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 6px;
border: 1px solid #999;
color: #999;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 275;
line-height: normal;
letter-spacing: 0.96px;
text-transform: uppercase;
background-color: transparent;
cursor: pointer;
}

@media screen and (max-width:768px){
  .wrap{
      padding-bottom: 2.8rem;
     
  }
  .div1>:nth-child(1){
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .div1>:nth-child(2){
    font-size: 14px;
    letter-spacing: 5.04px;

  }
  .countdowntimer{
    gap: 0;
  }
  .timerbox{
    width: 4rem;
  }

 .timer{
  font-size: 40px;
 }
 .timerlabel{
  font-size: 12px;
 }
 .dotspan{
  font-size: 32px;
 }

  .btohomebtn{
height: 36px;
padding: 0px 24px;
flex-direction: column;
justify-content: center;
gap: 10px;
flex-shrink: 0;
font-size: 14px;
letter-spacing: 0.84px;
  }


}