.container{
    width: 100%;
    background-image: url(../../assets/main-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
}
.wrap{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 1rem; */
    /* margin-top: 10%; */
    min-height: 100vh;
    padding-top: 8%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
}
.div1{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.div1>:nth-child(1){
    color: #FFF;
font-family: Bruno Ace SC;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4.8px;
text-transform: uppercase;
}

.div1>:nth-child(2),.div1>:nth-child(3){
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 19px; /* 118.75% */
letter-spacing: 0.96px;
}

.div2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.btohomebtn{
    display: inline-flex;
padding: 10px 24px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 6px;
border: 1px solid #999;
color: #999;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 275;
line-height: normal;
letter-spacing: 0.96px;
text-transform: uppercase;
background-color: transparent;
}
.div2>:nth-child(1){
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 19px; /* 118.75% */
letter-spacing: 0.96px;
}

@media screen and (max-width:768px){
    .container{
        background-image: url(../../assets/final-mob-bg.png);
        /* min-height: calc(100vh - 44px);  */
    }

  
    .wrap{
        padding-top: 6rem;
        /* padding-bottom: 3.2rem; */
    }
    .div1{
        gap: 12px;
    }
    .div1>:nth-child(1){
        font-size: 36px;
        letter-spacing: 2.16px;;
    }

    .div1>:nth-child(2),.div1>:nth-child(3){
        font-size: 14px;
        letter-spacing: 0.84px;
    }


    .btohomebtn{
        height: 36px;
        padding: 0px 24px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        flex-shrink: 0;
        font-size: 14px;
        letter-spacing: 0.84px;
     }

     .div2>:nth-child(1){
        font-size: 14px;
        letter-spacing: 0.84px;

     }
}