.container{
    background-image: url(../../assets/main-bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 1440px; */
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    /* background-color: beige; */

}
.bt{
    color: aliceblue;
    font-size: 100px;
    margin-bottom: 20rem;
}
.div1{
    margin-bottom: 20rem;
    height: 70px;
    
    /* max-width: 1440px; */
}
,.div1>img{
    width: 100%;
}