.container{
    /* background-image: url(../../assets/mainbg-new.svg); */
 background-color:#050505;
 background-image: none;
 background-size: cover;
 background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 1440px; */
}
.loaded{
    background-image: url(../../assets/newmainbgpng.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}





.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    /* background-color: beige; */

}
.bt{
    color: aliceblue;
    font-size: 100px;
    margin-bottom: 20rem;
}
.div1{
    margin-bottom: 20rem;
    height: 70px;
    
    /* max-width: 1440px; */
}
.div1>img{
    width: 80%;
}
.div2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    color: white;
}

@media screen and (max-width:768px){
    .container{
      background-color: #050505;
    }
    .loaded{
        background-image: url(../../assets/mainbg-mobile.png);
       

    }

}