.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #010101;
    color: rgb(121, 118, 118);
    min-height: 100vh;
    align-items: center;
}
.div1>:nth-child(1){
    color: #999;
font-family: Bruno Ace SC;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.8px;
text-transform: uppercase;
}
.div2{
    margin-top: 2rem;
}

.div2>:nth-child(1){
    color: rgba(255, 255, 255, 0.06);
font-family: K2D;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 3.6px;
    /* text-transform: uppercase; */
    /* position: absolute; */
}
/* .div3{
    height: 200px;
    width: 300px;
    background: linear-gradient(0deg, rgba(0, 122, 255, 0.90) -0.1%, rgba(0, 66, 137, 0.90) 46.1%, rgba(0, 25, 52, 0.90) 100%);
backdrop-filter: blur(94.5px);
color: rgb(194, 206, 206);
z-index: 1;
position: relative;
} */
/* .div3>img{

    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; 
    height: auto; 
    z-index: 10;  
} */
.div3{
    position: relative;
    display: flex;
    /* justify-content: space-between; */
}

.left{
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: left;
}
.left>:nth-child(1),.cities>:nth-child(1){
    color: #666;
font-family: K2D;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.84px;
text-transform: capitalize;
}
.cardline{
    height: 2px;
    width: 100%;
    background-color: #323232;
}


.middle{
    width: 33%;
}
.middle>:nth-child(1){
    right: 22%;
    position: absolute;
    z-index: 1;
    top: -68%;
}
.middle>:nth-child(2){
    /* position: absolute;
    top: 28%;
    right: 25%; */
    position: relative;
    z-index: 2;
}
.backline{
    width: 1131px;
height: 1px;
background: #323232;
position: absolute;
}
.right{
    width: 33%;
}
.rtop{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.sline{
    width: 58px;
    height: 1px;
    background: #999;
}
.bottomcontent{
    text-align: left;
}
.bottomcontent>:nth-child(1){
    color: #666;
font-family: K2D;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.84px;
text-transform: capitalize;
}