.container{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
    width: 100%;
    z-index: 100;
}
.left{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.left>img{
    margin-left: -6%;
}
.right{
    display: flex;
    justify-content: flex-end;
  
    width: 50%;
}
.registermainbtn{
    border-radius: 6px;
background: linear-gradient(0deg, #007AFF -0.1%, #004289 46.1%, #001934 100%), #FFF;
display: flex;
padding: 10px 24px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border: none;
color: #E0E0E0;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.96px;
text-transform: uppercase;
}