.container{
    width: 100%;
  min-height: 100vh;
    /* background: radial-gradient(36.44% 36.44% at 50.03% 50.05%, #2A2A2A 0%, rgba(5, 5, 5, 0.00) 100%);
    background: radial-gradient(
        36.44% 36.44% at 50.03% 50.05%, 
        #2A2A2A 0%, 
        rgba(5, 5, 5, 0.00) 100%
      ); */
      background: #050505;
      color: aliceblue;
      padding: 6% 6%;
      position: relative;
      display: flex;
      justify-content: center;
      background-image: url(../../assets/giftbgshadow.svg);
      background-size: cover;
      background-position: center;
     
}
/* .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      36.44% 36.44% at 50.03% 50.05%, 
      #2A2A2A 0%, 
      rgba(5, 5, 5, 0.00) 100%
    );
    filter: blur(10px); 
    opacity: 0.7; 
  }
  */
  
  
  
  
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    gap: 4rem;
  
}

.div1>:nth-child(1){
    color: #999;
text-align: center;
font-family: Bruno Ace SC;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.8px;
}
/* div2 */
.div2{
    z-index: 2;
    /* height: 185px; */
   
   
}
.div2>img{
    position: inherit;
}
.imgauto{
    height: 220px;
    width: 100%;
    
    
}
.pagination{
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pagination{
    -webkit-tap-highlight-color: transparent; /* Webkit browsers */
    tap-highlight-color: transparent; /* Modern browsers */
  }

.active{
    fill: #007AFF;
 
}
/* :root {
    --gradient-color-1: #007AFF;
    --gradient-color-2: #004289;
    --gradient-color-3: #001934;
  }
   */
.active>:nth-child(1){
    fill: #007AFF;
stroke: #007AFF;
}

.active circle:last-child{
    fill: #007AFF;
stroke: #007AFF;;
}

/* svg circle:last-child {
    fill: #007AFF; 
  } */


/* div3 */

.div3{
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.leftmiddlewrap{
    width: 70%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.4rem;
    width: 35%;
}
.left>:nth-child(1){
    color: #999;
font-family: K2D;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.08px;
}
.left>:nth-child(2){
    color: #666;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.96px;
}
.left>:nth-child(3){
    color: #E0E0E0;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.96px;
/* text-decoration-line: underline; */
}

/* middle */
.middle{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: inherit;
    z-index: 10;
    
}
.middle>:nth-child(1){
    color: #E0E0E0;
text-align: center;
font-family: K2D;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 1.44px;
text-transform: uppercase;
}


.right{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 33%;
    text-align: left;
}
.right>:nth-child(1){
    color: #B3B3B3;
font-family: K2D;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.08px;
}
.rspan{
    color: #666;
font-family: K2D;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.96px;
}
.linebtw{
    width: 16px;
height: 1px;
background: #666;
}



@media screen and (max-width:768px){
    .container{
        background-image: url(../../assets/giftshadow-mobile.svg);
    }
    .wrap{
        gap: 1rem;
    }
    .div1>:nth-child(1){

font-family: Bruno Ace SC;
font-size: 20px;

line-height: 32px; /* 160% */
letter-spacing: 1.2px;
    }

    .imgauto{
        height: 181px;
        width: 100%;
    }
    .div2{
        /* background-image: url(../../assets/giftbgshadow.svg); */
    }
    .div3{
       
        flex-direction: column;
        gap: 2rem;
        padding: 2% 2%;
       
    }
    .left{
        gap: 0;
    }
    .leftmiddlewrap{
        flex-direction: column-reverse;
        width: 100%;
        gap: 2rem;
    }
    .left,.middle,.right{
        width: 100%;
    }
    .left>:nth-child(1){
        font-size: 14px;
        
    }
    .left>:nth-child(2){
        font-size: 14px;
        

    }
    .left>:nth-child(3){
        font-size: 14px;
        

    }
    .middle>:nth-child(1){
        font-size: 18px;
    }
    .right{
        align-items: flex-start;
    }
    .right>:nth-child(1){
        font-size: 14px;
    }
    .rspan{
        font-size: 12px;
    }
}