/* CSS for the carousel component */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease;
    margin-top: 8rem;
  }
  
  .image img {
    width: 200px;
    height: 200px;
  }
  
  .pagination {
    display: flex;
    margin-top: 10px;
  }
  
  .pagination button {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #155389;
  }
  
  .prev,
  .next {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  