.container{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1% 6%;
    z-index: 100;
 
}
.wrap{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}
.left>:nth-child(1){
    color: #E0E0E0;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 275;
line-height: normal;
letter-spacing: 0.96px;
text-transform: uppercase;
}
.right{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
/* .middle{
    background: linear-gradient(0deg, rgba(0, 122, 255, 0.90) -0.1%, rgba(0, 66, 137, 0.90) 46.1%, rgba(0, 25, 52, 0.90) 100%);
filter: blur(90.27738189697266px);
width: 336.273px;
height: 221.634px;
flex-shrink: 0;
} */
@media screen and (max-width:768px){
    .container{
        position: absolute;
        background-color: #050505;
        bottom: auto;
        padding: 4% 6%;
    }
    .left>:nth-child(1){
        font-size: 13px;
        letter-spacing: 0.84px;
    }
    .right>:nth-child(1), .right>:nth-child(3){
        width: 20px;
        height: 20px;
    }
    .right>:nth-child(2){
        width: 17px;
       
    }
}