.container{
    width: 100%;
    background: #050505;
    padding: 6% 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}
.div1>:nth-child(1){
    color: #FFF;
font-family: K2D;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.08px;
text-transform: uppercase;
}

/* progressbar */

.progresscontainer{
    width: 70%;
    border-radius: 20px;
}
.progressfill{
    border-radius: 20px;
   
background: var(--Primary-gradient, linear-gradient(0deg, #007AFF -0.1%, #004289 46.1%, #001934 100%));
}
  
.registernowbtn{
    display: inline-flex;
height: 40px;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
font-family: K2D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.96px;
text-transform: uppercase;
background-color: transparent;
border: 1px solid #FFF;
border-radius: 6px;
color: #FFF;
}
@media screen and (max-width:768px){
    .progresscontainer{
        width: 85%;
        
    }
    
}

