.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
::-webkit-scrollbar{
  display: none;
}
a{
  text-decoration: none;
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    /* -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important; */
    -webkit-box-shadow:  red inset !important;
}