.App {
  text-align: center;
  /* position: relative; */
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
::-webkit-scrollbar{
  display: none;
}
a{
  text-decoration: none;
  
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(5, 5, 5,1) inset !important;
   
    border: none;
    color: aliceblue !important;
}
input:-webkit-autofill {
  background-color: transparent !important; 
} */

input:-webkit-autofill {
  background-color: transparent !important;
}

input:-moz-autofill {
  background-color: transparent !important;
}

input:-ms-autofill {
  background-color: transparent !important;
}
